<?xml version="1.0" encoding="UTF-8"?>

<web-app  version="3.0" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
   
    <servlet>
        <servlet-name>firstservlet</servlet-name>
        <servlet-class>com.dineshonjava.struts2.login.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstservlet</servlet-name>
        <url-pattern>/firstservlet</url-pattern>
    </servlet-mapping>
   <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.dineshonjava.struts2.login.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
   
      <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>com.dineshonjava.struts2.login.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.dineshonjava.struts2.login.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>printall</servlet-name>
        <servlet-class>com.dineshonjava.struts2.login.Printall</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>printall</servlet-name>
        <url-pattern>/printall</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>